<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CUEVANA2.0</title>

    <link rel="stylesheet" href="/static/css_nuevo/base.css">
      <link rel="stylesheet" href="/static/css_nuevo/main.css">
      <link rel="stylesheet" href="/static/css_nuevo/vendor.css">
      <link rel="stylesheet" href="/static/css_login/login.css">


</head>
    <body class="inicio">
        <center>
            <h1 style="color: white"> BIENVENIDO A CUEVANA 2.0 </h1>
            <h4 style="color: white"><b>Aqui podras ver <big>las mejores peliculas</big>, con la <big>mejor calidad</big> y servicio del pais</b></h4>

            <a href="/Home" style="color: red"> ENTRAR!! </a>
        </center>
    </body>

</html>

