<!DOCTYPE html>
<html lang="en">

<head>
    <title> CUEBANA 2.0 </title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="/static/AJUSTES.css" rel="stylesheet">

</head>

<body>

    <h3 class="text-muted"> BIENVENIDO A CUEBANA2.0 </h3>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="/Inicio"><a href="#">Inicio</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="/Registro">Register</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="jumbotron">
            <h1>Peliculas de la semana</h1>

            <img src="HTML/IMAGENES/index3.jpg"><img src="HTML/IMAGENES/index2.jpg"><img src="HTML/IMAGENES/index1.jpg">

            <h1>Serie mas destacada que te pueda interesar</h1>

            <img src=" "><img src=" "><img src=" "><img src=" ">

            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="/Registro" role="button"> NO ESPERES MAS Y REGISTRATE AHORA!! </a>
            </p>
        </div>

        <div class="row marketing">

        </div>

        <footer class="footer">
            <p>&copy; GalaxarCompany </p>
        </footer>

    </div>
</body>

</html>