{% extends "base.html" %}
     {% block content %}

        <center style="padding-top: 50px;">
            <div>
                <h3 class="text-muted" style="color: white"> BIENVENIDO A CUEBANA2.0  </h3>

                    <body background-color= #da2222 >
                        {% for item in listaPeliculas %}
                            <a href="/pelicula?id={{item.idTitulo}}">
                                <img src={{item.Linkimagen}} width="400" height="500" />
                            </a>
                        {% endfor %}
                    </body>

                    </div>

                    <footer class="footer">
                        <p style="color: black">&copy; GalaxarCompany </p>
                    </footer>

                </div>
            </div>
        </center>
    </body>



{% endblock %}