{% extends "base_peliculas.html" %}
     {% block content %}

        <h3 class="text-muted" style="color: white"> BIENVENIDO A CUEBANA2.0 </h3>

        <div class="container">
            <div class="wrapper">

                <body>
                  {% for item in listaPeliculas %}
                    <a href="/pelicula?idPelicula={{item.idTitulo}}">
                        <img src={{item.Linkimagen}} width="400" height="500" />
                    </a>
                  {% endfor %}
                </body>

             <div class="paginacion">
                <ul class="paginacion">
                    <li class="previous disabled"><a href="#">Anteriores</a></li>
                     <li class="next"><a href="#">Siguientes</a></li>
                </ul>
             </div>

            <footer class="footer">
                <p>&copy; GalaxarCompany </p>
            </footer>

        </div>
    </body>

</center>

{% endblock %}