{% extends "base_peliculas.html" %}
     {% block content %}
            <center style="padding-top: 10px;">
                <div>
                    <h3 class="text-muted" style="color: black"> PELICULA </h3>
                        <a href="{{pelicula.linkPelicula}}">
                            <img src={{pelicula.Linkimagen}} width="400" height="500" />
                        </a>
                </div>

                {% if estado == 0 %}
                    <a href="/LikePelicula?idPelicula={{pelicula.idTitulo}}">
                        <button type="button">Like</button>
                    </a>
                {% else %}
                    <a href="/DislikePelicula?idPelicula={{pelicula.idTitulo}}">
                        <button type="button">Dislike</button>
                    </a>
                {% endif %}

                {{likes}}
            </center>

            <div>
                <form method="POST" action="/ComentarioPelicula">
                    <input type="hidden" name="idPelicula" value="{{pelicula.idTitulo}}">
                    <input type="text" size="100" name="inputComment" id="inputComment" placeholder="Agregar Comentario" required>
                    <button type="submit" class="float">submit</button>
                </form>
            </div>

            <div align="left">
            <h1>Comentarios</h1>

                {% for item in comentarios %}
                    <h6>@{{item.Usuario.nickName}} || {{item.descripcion}}

                        {% if usuario.nickName == item.Usuario.nickName or usuario.nickName == 'admin'%}
                            <a href="/borrarComentario?idComentario={{item.idComentario}}&idPelicula={{pelicula.idTitulo}}">
                                <button type="button">Borrar</button>
                            </a>
                        {% endif %}
                    </h6>
                {% endfor %}
            </div>
{% endblock %}