{% extends "base.html" %}
     {% block content %}

        <div class="login">
          <div class="heading">

              <h2>Sign in</h2>
            <form method="POST" action="/SignIn">

              <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" name="inputNickname" id="inputNickname" class="form-control" placeholder="Nickname" required>
              </div>

              <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>

              </div>

              <button type="submit" class="float">Login</button>
            </form>
          </div>
        </div>
{% endblock %}
